<% layout('/layout/skaliton') %>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/campground/<%=campgrounds._id%>?_method=PUT" method="POST" novalidate class="validation"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-lable" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]"
                        value="<%=campgrounds.title %> " required>
                    <div class="invalid-feedback">
                        Please provide a valid camp title.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="location">location</label>
                    <input class="form-control" type="text" id="location" required name="campground[location]"
                        value="<%=campgrounds.location %>">
                    <div class="invalid-feedback">
                        Please provide a valid location.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Add more images</label>
                    <input class="form-control" type="file" name="image" id="image" multiple>
                </div>
                <div class="mb-3 d-inline-flex">
                    <% campgrounds.image.forEach((img,i)=>{%>
                        <div>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail">
                        <div class="form-chick-inline">
                            <input type="checkbox" name="deleteImages[]" id="img-<%i%>" value="<%=img.filename %> ">
                            <label for="img-<%i%>">del</label>
                        </div>
                    </div>
                        <%}) %>

                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="price-lable">$</span>
                        <input type="text" class="form-control" placeholder="0.0" aria-label="price"
                            aria-describedby="price-lable" name="campground[price]" value="<%=campgrounds.price %> "
                            required>
                        <div class="invalid-feedback">
                            Please provide a valid price.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="description">description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%=campgrounds.description%></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">update campground</button>
                </div>
                <a href="/campground">All campground</a>
            </form>
        </div>
    </div>